body{
	padding: 0;
	margin: 0;
  background-color: #fffdd0;
}
h1,h2,h3,a{
	font-family: 'Pacifico', cursive;
}
h1{
	display: inline-block;
  color: #2A08A5;
	font-size: 1em;
}
h2{
	text-shadow: 1px 2px black;
	font-size: 4em;
}
h3{
	text-shadow: 1px 2px black;
}
p,ul{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
}
.navbar{
	background-color: grey;
}
.banner{
	padding-top: 100px;
}
.banner__button{
	border-radius: 150px;
}
.banner__carousel--1{
    background-image: url(../img/niños3.jpg);
    background-size: cover;
    height: 450px;
}
.banner__carousel--2{
    background-image: url(../img/heroe.jpg);
    background-size: cover;
    height: 450px;

}
.banner__carousel--3{
  background-image: url(../img/manos2.jpg);
  background-size: cover;
  height: 450px;

}
.footer{
  background-color: #2A08A5;
}
@media only screen and (max-width: 767px){
h2{
	font-size: 2em;
  }
  .navbar h1{
    display: none;
  }
  .navbar img{
    width: 50%;
  }
  .footer__maps{
    display: none;
  }
  .footer__iconos{
    font-size: 10px;
    padding: 0;
  }
}
  <!--Nosotros-->
  .encabezado{
     height: 250px;
  }      
  .encabezado h2{
     padding-top: 20px;
     color: white;
  }
  .encabezado__obj{
       padding-top: 30px;
  }
  .somos p{
    padding-top: 50px;
  }
  <!--Noticias-->
  .card{
    width: 15rem;
  }
  .blog span{
    color: black;
  }
  @media only screen and (max-width: 767px){
   .blog{
    padding-top: 100px;
   }
   .blog h5{
    display: none;
   }
  }